body{
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
}
.boton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
  }
  .popup{
  display: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 0px 30px 0px 30px;

  }
  .cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
.contenedor{
    width: 40%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.botones{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -4%;
    position: relative;
}
.imagen{
display: flex;
justify-content: center;
position: relative;
top: -8%;
}
.cry{
    width: 40%;
}
.titulo{
  display: flex;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
  top: -6%;
  position: relative;
}
.feliz{
  display: none;
}
#botonA{
  background-color: #FFCDD4;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#botonB{
  color: black;
  background-color: #EFEFEF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.baile{
  display: none;
  width: 50%;
  border: 10px solid white;
}
.baile>img{
  width: 100%;
}


@media (max-width: 600px) {
  .contenedor{
    justify-content: center;
    width: 100%;
  }
  .cry{
    width: 80%;
  }
  .feliz{
    width: 100%;
  }
}